[Unit]
Description=Nagios Cross-Platform Agent

[Service]
Type=simple
ExecStart=/usr/share/ncpa/ncpa_listener -c /usr/share/ncpa/etc/ncpa.cfg -n

[Install]
WantedBy=multi-user.target
